@charset "UTF-8";
/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/

body{
    height: 100%;
    background-color: #2B2C3A;
    font-family: Jost;
    color: white;
}

.wraper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container{
  /*display: flex;*/
}

.leftbar_menu{
  height: 100%;
  width: 280px;
  background: rgba(156, 165, 236, 0.04);
  position: fixed;
}




.leftbar_header{
  font-style: normal;
  font-weight: bold;
  height: 52px; 
}
.leftbar_header_box{
  height: 37px;
  width: 138px;
  margin: 19px 112px 16px 30px;
}
.leftbar_header_items{
  font-weight: 500;
  font-size: 10.7331px;
  width: 100%;
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.leftbar_header_items p{
  margin-top: 2px;
  margin-right: 13px;
}
.beeinterns{
  font-size: 22.1818px;
  width: 100%;
}




.leftbar_cont{
  height: 421px;
  width: 100%;
}
.block_items{
  padding-top: 17px;
  font-size: 14px;
  /*border: 1px solid yellowgreen;*/
}
.block_title{
  margin-top: 13px ;
  padding-left: 30px;
  position: relative;
  /*border: 1px solid red;*/
}
.strel::before{
  content: '';
  width: 1.5px;
  height: 8px;
  top: 3px;
  right: 35px;
  transform: rotate(45deg);
  position: absolute;
  background: white;
}
.strel::after{
  content: '';
  width: 1.5px;
  height: 8px;
  top: 3px;
  right: 30px;
  transform: rotate(-45deg);
  position: absolute;
  background: white;
}
.block_title_box{
  width: 280px;
  padding-left: 30px;
  margin-left: -30px;
  /*border: 1px solid rgb(255, 255, 255);*/
}
.block_content{
  display: none;
  position: relative;
}
.point{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.block_content:first-child::before{
  content: '';
  width: 3px;
  height: 36px;
  top: 2px;
  left: -30px;
  position: absolute;
  background: #6F6EFF;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}
.block_content:first-child::after{
  content: '';
  width: 280px;
  right: 0px;
  height: 36px;
  top: 2px;
  left: -30px;
  position: absolute;
  background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 93.97%);
  opacity: 0.03;
}
.block_text{
  display: block;
  width: 100%;
  height: 40px;
  line-height: 18px;
  position: relative;
  opacity: 0.5;
}
.block_text img{
  position: absolute;
  left: 20px;
  top: 10px;
  margin-right: 24px;
}
.block_text a{
  position: absolute;
  height: 10px;
  top: 11px;
  left: 62px;
}
.block_items a{
  color: white;
}




.leftbar_footer{
  height: 250px;
  margin-top: 15px;
  width: 100%;
  /*border: 1px solid red;*/
}
.leftbar_footer_box{
  width: 220px;
  height: 22px;
  position: relative;
  align-content: center;
  margin: 187px auto 31px ;
}
.check{
  display: none;
}
.check_lab{
  cursor: pointer;
}
.checkbox:before{
  content: '';
  width: 42px;
  height: 100%;
  border-radius: 15px;
  border: 2px solid rgb(97, 97, 97);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 0px;
}
.checkbox:after{
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #6F6EFF;
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  position: absolute;
  top: 3px;
  right: 3px;
}




.topbar_content{
  height: -100%;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top_container{
  display: flex;
  height: 100%;
  margin-left: 55px;
  margin-right: 55px;
  justify-content: space-between;
}
.topbar{
  height: 72px;
  width: 100%;
  margin-left: 280px;
  background: #2B2C3A;
  position: fixed;
  z-index: 3;
}
.top_items{
  width: 267px;
}
.top_items_list{
  margin-top: 25px;
  display: flex;
  width: 100%;
  mix-blend-mode: normal;
  position: relative;
  opacity: 0.6;
  margin-right: 28px;
}
.top_items_list:after{
  content: '';
  width: 1px;
  height: 24px;
  background: #D8D8D8;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  right: 0px;
  top: -4px;
}
.top_items_list li{
  font-size: 14px;
  color: white;
  margin-right: 23px;
}
.top_items_list a{
  color: white;
}
.top_account{
  display: flex;
  width: 785px;
  height: 44px;
  margin-top: 12px;
  margin-right: 0px;
}
.lessons{
  display: flex;
  width: 314px;
  right: 0px;
}
.lessons div{
  height: 24px;
  margin: 10px 10px auto auto;
}
.lessons_box{
  background-color: #FFFFFF;
  opacity: 0.06;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  border: 3px solid rgb(0, 0, 0);
}
.homework{
  width: 96px;
  text-align: center;
  position: relative;
  line-height: 24px;
}
.lectures{
  width: 81px;
  text-align: center;
  position: relative;
  line-height: 24px;
}
.clock{
  width: 103px;
  position: relative;
  line-height: 24px;
}
.clock_items{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.mol_box{
  width: 20px;
  background: #FF4738;
  box-shadow: 0px 0px 12px rgba(255, 71, 56, 0.5);
  border-radius: 4px;
}
.mol_box img{
  margin: 5px 5.5px;
}
.account{
  display: flex;
  width: 190px;
  justify-content: space-between;
}
.foto_prof{
  height: 44px;
  width: 44px;
}
.login{
  width: 80px;
  height: 100%;
}
.login div{
  margin: 4px auto 4px auto;
}
.online{
  font-weight: 600;
  position: relative;
  color: #24CB8D;
  padding-left: 15px;
}
.online:before{
  content: '';
  width: 8px;
  height: 8px;
  left: 3px;
  top: 3.5px;
  position: absolute;
  border-radius: 100%;
  background: #24CB8D;
}
.pro{
  height: 14px;
  width: 40px;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 14px;
  margin-top: 4px;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
  border-radius: 4px;
}




.content{
  height: 100%;
}
.content_container{
  height: 100%;
  margin-top: -40px;
  margin-left: 335px;
  margin-right: 55px;
}
.content_items{
  height: 360px;
  width: 100%;
  margin-top: 40px;
}
.content_box{
  width: 100%;
  height: 294px;
  display: flex;
  justify-content: space-between;
}
.content_list{
  width: 255px;
  height: 100%;
  position: relative;
}
.content_box h1{
  font-size: 16px;
  margin: 15px auto 10px 15px;
}
.content_box h2{
  margin: auto 25px auto 15px;
  font-size: 14px;
  opacity: 0.5;
}
.icon{
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  background: #6F6EFF;
  border-radius: 3px;
}
.name_box{
  width: 100%;
  height: 88px;
}
.visual:before{
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: 235px;
  left: 0px;
  background: #D8D8D8;
  opacity: 0.1;
}
.visual{
  display: flex;
  width: 225px;
  height: 30px;
  justify-content: space-between;
  margin: 16px 15px 15px 15px;
}
.visual p{
  line-height: 30px;
}
.visual_button{
  height: 100%;
  width: 89px;
  color: white;
  font-size: 13px;
  background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
  border-radius: 4px;
}
.html_css{
  margin-top: 7px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 22px;
}
.level{
  text-transform: uppercase;
  opacity: 0.4;
}